<h1>Reset Password</h1>

 <form method="POST" action="/users/reset-password">
 	
	 <input type="hidden" name="token" value={{token}}></input>
	 <input type="hidden" name="id" value={{user.id}}></input>
	 <input type="hidden" name="fromPasswordResetRequest" value="true"></input>

	 <label for="password">New Password</label>
	 <input type="text" name="password"></input>

	 <input type="submit" value="submit"></input>

 </form>